<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Computador</title>
    <!-- Tag Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Tag CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Editar Computador</h1>
        <!-- Formulário de edição do computador -->
        <form method="POST">
            <div class="form-group">
                <label for="patrimonio">Patrimônio:</label>
                <input type="text" class="form-control" id="patrimonio" name="patrimonio" value="{{ computer[1] }}">
            </div>
            <div class="form-group">
                <label for="funcionario">Funcionário:</label>
                <input type="text" class="form-control" id="funcionario" name="funcionario" value="{{ computer[2] }}">
            </div>
            <div class="form-group">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" id="departamento" name="departamento" value="{{ computer[3] }}">
            </div>
            <div class="form-group">
                <label for="data_chegada">Data de Chegada:</label>
                <input type="date" class="form-control" id="data_chegada" name="data_chegada" value="{{ computer[4] }}">
            </div>
            <div class="form-group">
                <label for="problema">Problema:</label>
                <textarea class="form-control" id="problema" name="problema" rows="3">{{ computer[5] }}</textarea>
            </div>
            <div class="form-group">
                <label for="data_saida">Data de Saída:</label>
                <input type="date" class="form-control" id="data_saida" name="data_saida" value="{{ computer[6] }}">
            </div>
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" class="form-control" id="marca" name="marca" value="{{ computer[7] }}">
            </div>
            <div class="form-group">
                <label for="reparo_realizado">Reparo Realizado:</label>
                <textarea class="form-control" id="reparo_realizado" name="reparo_realizado" rows="3">{{ computer[8] }}</textarea>
            </div>
            <!-- Adicione os outros campos aqui -->
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>

        <!-- Botão para voltar à tela principal -->
        <a href="/" class="btn btn-primary mt-3">Voltar à Tela Principal</a>
    </div>
</body>
</html>
